<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>名札には名前を大きく書きましょうジェネレータ</title>
	</head>
	<body>
		<h1>名札には名前を大きく書きましょうジェネレータ</h1>
		<a href="http://rubykaigi.tdiary.net/20100815.html#p01" target="_blank">
			名札には名前を大きく書きましょう
		</a>のような名刺画像を生成するジェネレータ。
		
		<h2>使い方</h2>
		http://rubykaigi.capsctrl.com/TWITTER_ID
		<hr />
		<a href="http://twitter.com/kdmsnr" target="_blank">@kdmsnr</a>
	</body>
</html>
